@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700";
* {
  margin: 0;
  padding: 0
}
:focus {
  outline: 0
}
img {
  border: none
}
html, body {
  -webkit-text-size-adjust: none
}
body {
  background: url(bg.jpg) center top no-repeat #131217;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #fff;
  min-width: 320px
}
ol, ul {
  list-style: none
}
a {
  color: #fff
}
.wrap {
  position: relative;
  padding: 0 15px
}
.slogan-box {
  padding: 20px 0;
  text-align: center;
  max-width: 900px;
  margin: 0 auto
}
.slogan-box h3 {
  font-size: 30px;
  color: #f51d7f;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: normal
}
.slogan-box p {
  font-size:;
  font-weight: 300;
}
.pics {
  text-align: center
}
.pics img {
  margin: 10px;
  border: 1px solid #a2bf2e;
  border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.pics img:hover{box-shadow: none;}
.step {
  display: none
}
.step:first-child {
  display: block
}
.question {
  text-align: center;
  padding: 10px 0 50px
}
.question h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 25px
}
.btn {
  min-width: 120px;
  display: inline-block;
  border-radius: 3px;
  padding: 10px 30px;

  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.1s ease 0s;
  text-shadow: 1px 1px 1px #db582c;
  background: rgba(255,121,84,1);
background: -moz-linear-gradient(-45deg, rgba(255,121,84,1) 0%, rgba(253,38,124,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,121,84,1)), color-stop(100%, rgba(253,38,124,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,121,84,1) 0%, rgba(253,38,124,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,121,84,1) 0%, rgba(253,38,124,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,121,84,1) 0%, rgba(253,38,124,1) 100%);
background: linear-gradient(135deg, rgba(255,121,84,1) 0%, rgba(253,38,124,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7954', endColorstr='#fd267c', GradientType=1 );
}
.btn:hover {
  background-color: #e95d2f;
}
.btn.btn-no {
    background: #fff !important;
    color: #f51d7f;
    font-weight: normal;
    margin-right: 20px;
    border-radius: 3px;
}
.btn.btn-no:hover {
  background-color: #f0f0f0;
}
.final-step {
  max-width: 700px;
  margin: 30px auto 0;
  padding-bottom: 30px;
  text-align: center
}
.final-step h3 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
  line-height: 1
}
.final-step ul {
  margin-bottom: 15px;
  text-align: left;
  max-width: 90%;
    margin: auto;
	  list-style-image: url(arrow.png);
	
}
.final-step ul li {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
  list-style: disc outside
}
.terms {
  font-size: 14px;
  color: #636473;
  margin-bottom: 15px;
  font-weight: 300;
}
@media (max-width: 770px) {
  body {
    font-size: 18px
  }
  .pics img {
    width: 250px
  }
  .question h3 {
    font-size: 24px
  }
  .btn {
    font-size: 24px;
	margin: 10px 0 0 0 !important;
  }
}
@media (max-width: 415px) {
  body {
    font-size: 18px
  }
  .pics img {
    width: 155px;
    margin: 3px;
    border-width: 2px
  }
  .question h3 {
    font-size: 18px;
    margin-bottom: 10px
  }
  .final-step h3 {
    font-size: 18px
  }
  .final-step ul li {
    font-size: 12px
  }
  .terms {
    font-size: 11px
  }
}
